* {
  box-sizing: border-box;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 450px;
  background: #fff;
  margin: 25px auto;
  padding: 22px 9px 9px;
}

.title {
  background: #e3f4ff;
  width: 432px;
  padding: 15px 10px;
}

.content {
  background: #e3f4ff;
  width: 432px;
  padding: 15px 10px;
  margin-top: 9px;
}

.button-container {
  background: #e3f4ff;
  width: 432px;
  padding: 15px 10px;
  text-align: center;
  margin-top: 9px;
}

button {
  background: white;
  border: 1px solid #eee;
  width: 150px;
  display: block;
  padding: 10px 25px;
  font-size: 16px;
  margin: 0 130px;
}